body {
  margin: 10vh 10vw;
}
#app {
  position: relative;
  margin: auto;
  max-width: 790px;
}
.search-input {
  position: relative;
  border: 1px solid #bbb;
  border-radius: 17.5px;
  height: 35px;
  display: block;
  margin: 25px 5px;
  padding-left: 5px;
}
.magnifying-glass:after {
  content: '\1f50d';
}
.search-input input {
  outline: none;
  border: none;
  width: calc(100% - 45px);
  margin: 7px;
  font-size: 1em;
}
#grid .artist {
  display: inline-block;
  font: 100 1em sans-serif;
  padding: 5px;
}
#grid .artist h4 {
  margin: 2px 0;
}
#grid .artist small {
  display: block;
  height: 33px;
  overflow: auto;
  color: #777;
}
#grid .artist img {
  width: 100%;
  max-width: 250px;
}
@media (max-width: 768px) {
  /* show images in 2x3 grid */
  #grid .artist {
    width: calc(50% - 10px);
  }
}
@media (min-width: 769px) {
  /* show images in 3x2 grid */
  #grid .artist {
    width: calc(33.333% - 10px);
  }
}
